body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444;
    width: 100%;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile span {
    margin-top: 10px;
}

.status {
    font-size: 12px;
    margin-top: 5px;
}

.status.online {
    color: green;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

nav ul li a:hover {
    background-color: #575757;
}

nav ul li a i {
    margin-right: 10px;
}

.main-content {
    flex-grow: 1;
    background-color: #f4f4f4;
}

#chat-windows-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.chat-window {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat-header {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    cursor: move;
}

.chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-footer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}


/* General message styling */
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 80%;
    display: inline-block;
    clear: both;
  }
  
  /* Sender message styling */
  .my-message {
    background-color: #dcf8c6; /* Light green background for sender's messages */
    float: right;
    text-align: right;
  }
  
  /* Receiver message styling */
  .other-message {
    background-color: #fff; /* White background for receiver's messages */
    float: left;
    text-align: left;
  }
  
  /* Clear float after messages */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  